{% extends "base.html" %}
{% block title %}Ваш заказ{% endblock %}

{% block content %}
    <script language='javascript'>


    </script>
    <h2>Ваш Заказ</h2>
    <p>Вы выбрали следующие позиции для вашего заказа</p>
    <table class="table">
        <thead>
        <tr>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr class="cart-position">
                <td> {{ cart.id }}</td>
                <td> {{ cart.name }}</td>
                <td> <span class="price">{{ cart.price }}</span></td>
                <td> <input type="button" class="minus-button" value="-">
                     <span class="amount">{{ cart.amount }}</span>
                     <input type="button" class="plus-button" value="+"></td>
                <td> <span class="total-row">{{ cart.price * cart.amount }}</span></td>

            </tr>

        {% endfor %}


        <tr>
        <td colspan="4" align=>Итого:</td>
        <td> <span class="sum-row">{{ summa }}</span></td>
        </tr>
        </tbody>

    </table>
{% endblock %}

{%  block javascripts %}
        <script src="/static/jquery-3.3.1.min.js" type="text/javascript"></script>
     <script src="/static/underscore-min.js" type="text/javascript"></script>
    <script src="/static/script.js" type="text/javascript"></script>
{% endblock %}