{% extends "base.html" %}
{% block title %}Ваш заказ{% endblock %}

{% block content %}
<script language = 'javascript'>


</script>
    <h2>Ваш Заказ</h2>
  <p>Вы выбрали следующие позиции для вашего заказа</p>
    <table class="table">
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
                 {% for cart in carts %}
                    <tr>
                    <td> {{ cart.id }}</td>
                    <td> {{ cart.name }}</td>
                    <td> {{ cart.price }}</td>
                    <td name = > <input type="button" name="minus" value="-" OnClick=""/>{{ cart.amount }} <input type="button" name="plus" value="+" /></td>
                    <td> {{ cart.price * cart.amount }}</td>

                    </tr>

                {% endfor %}



                <td colspan="4" align=>Итого:</td>
                <td> {{ summa }}</td>
             </tr>
        </tbody>

    </table>
{% endblock %}